<div class="sidebar">
  <ul nz-menu [nzMode]="'inline'" style="width: 240px;">
    <li nz-submenu>
      <span title>系统管理</span>
      <ul>
        <li nz-menu-item (click)="tabs('tree-grid')">tree-grid-demo</li>
        <li nz-menu-item (click)="tabs('page1')">demo页面1</li>
        <li nz-menu-item (click)="tabs('page2')">demo页面2</li>
        <li nz-menu-item (click)="tabs('page3')">demo页面3</li>
        <li nz-menu-item (click)="tabs('page1')">demo页面1</li>
        <li nz-menu-item (click)="tabs('page2')">demo页面2</li>
        <li nz-menu-item (click)="tabs('page3')">demo页面3</li>
        <li nz-menu-item (click)="tabs('page1')">demo页面1</li>
        <li nz-menu-item (click)="tabs('page2')">demo页面2</li>
        <li nz-menu-item (click)="tabs('page3')">demo页面3</li>
        <li nz-menu-item (click)="tabs('page1')">demo页面1</li>
        <li nz-menu-item (click)="tabs('page2')">demo页面2</li>
        <li nz-menu-item (click)="tabs('page3')">demo页面3</li>
      </ul>
    </li>
  </ul>
</div>
